/* HomePage */

.expDiv {
    text-align: center;
    background-color: #FF5F00;
}
.divHomepage2 {
    display: flex;
    justify-content: start !important;
}
.divHomepage3 {
    display: flex;
    justify-content: end !important;
    gap: 20px;
    color: white;
}
.navbar {
    background-color: transparent;
    padding: 10px;
}
.divBigHomePage1 {
    background-image: url(Image/maestro_car.png);
    background-color: gray;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    object-fit: cover;
}
.formHomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.homePageCard {
    border-radius: 20px !important;
}
.homePageH1H2 {
    background-color: #FF5F00;
    text-align: center;
    padding: 15px;
}
.homePageH1H2 h1 {
    color: black;
    font-size: 5rem;
    line-height: 5.7rem;
}
.homePageH1H2 h2 {
    color: black;
    font-size: 1.1rem;
}
.divHomePage4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Layout */

.header{
    background-color: #1A1A1A;    
}
.footer{
    background-color: #1A1A1A; 
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-text {
    color: #888;     
}
.underline-animation {
    position: relative;
    text-decoration: none;
}

.underline-animation::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s ease-out;
}

.underline-animation:hover::after {
    width: 100%;
}
